/* Calendário */

.contentCalendar{
    width: 500px;
    margin: 40px 0;
    background: #fff;
    float: right;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}

.dateNumber{
    width: 50px;
    height: 50px;
    font-size: 30px;
    float: left;
    color: #fff;
    line-height: 49px;
    background: #d13539;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    text-align: center;
}
.siglEvent{
    height: 50px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #cacaca;
    float: left;
    display: flex;
    align-items: center;
}

.siglEvent span{
    margin: 0 2px;
}

.tootipDescription .fa-times-circle{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #d13539;
    font-size: 25px;
    cursor: pointer;
}
.clickCalendar{
    display: table;
    width: 100%;
}

.siglEvent span, .tootipDescription span{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    background: #000;
    color: #fff;
    line-height: 24px;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
    text-align: center;
}

#listDates > li{
    width: 100%;
    padding: 15px;
    display: table;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #cacaca;
}

#listDates > li:hover{
    background: #eaeaea;
}
#listDates > li.active{
    background: #d13539;
}
.tootipDescription{
    width: 400px;
    position: absolute;
    z-index: 1;
    left: -397px;
    padding: 10px 20px;
    top: 0;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}

.tootipDescription:after{
    content: "";
    display: inline-block;
    vertical-align: block;
    width: 0; 
    height: 0; 
    position: absolute;
    right: -10px;
    top: 30px;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}

.tootipDescription.active{
    display: block;
}
.tootipDescription span, .tootipDescription div{
    float: left;
}
.tootipDescription div{
    width: 325px;
    margin-left: 10px;
}
.tootipDescription div h3{
    margin: 4px 0;
    font-size: 18px;
}
.tootipDescription div p{
    color: #333;
    font-size: 14px;
}
.tootipDescription li{
    margin: 15px 0;
    display: table;
}

.controlDate{
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
    color: #d13539;
}
.controlDate i{
    margin: 0 5px;
    color: #27a8ae;
    cursor: pointer;
}
.year{
    padding: 5px 10px;
    background: #d13539;
    color: #fff;
    display: table;
    top: -10px;
    left: 20px;
    position: relative;
    font-size: 18px;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}

/* Calendário */


@media (max-width: 925px){
    .contentCalendar{
        width: 100%;
    }
    .tootipDescription{
        width: 90%;
        left: auto;
        right: 5%;
    }
    .siglEvent{
        width: calc(83% - 20px);
    }
}
@media (max-width: 500px){
.tootipDescription div{
        width: calc(100% - 35px);
    }
}