/*CORINGA*/
.standardTitle{
    width: 100%;
    margin: 20px 0;
    padding: 30px 0;
    background: #cedce7;
}
.standardTitle #redes{
    margin-bottom: 10px;
}
.standardTitle #redes > div{
    margin-right: 10px;
    vertical-align: top;
    display: inline-block;
}

.standardTopics{
    width: 100%;
    margin: 20px 0;
    padding: 30px 0;
    background: #e7c3bc;
}


.titleDefault{
    margin: 0;
    line-height: 25px;
    border: 0;
}
.titleDefault span{
    font-size: 16px;
    font-weight: lighter;
}
.titleDefault p{
    margin: 0;
    font-weight: lighter;
}
.topicsTitle{
    display: table;
}
.topicsTitle li{
    width: 19%;
    padding: 1.5%;
    margin: 0.5%;
    float: left;
    background: #477392;
    color: #fff;
     -webkit-transition:	all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.topicsTitle h5, .topicsTitle p{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}
.topicsTitle h5{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: lighter;
}
.btnCourse{
    width: 120px;
    padding: 15px;
    position: fixed;
    background: #ad4b3a;
    right: 0;
    top: 200px;
    color: #fff;
    display: block;
    font-size: 25px;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    animation-name: plus;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

.btnCourse:before{
    content: '';
    width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:10px solid #ad4b3a;
    display: block;
    position: absolute;
    left: -10px;
    top: 10px;
}

.barLeft{
    width: -webkit-calc(100% - 250px); 
    width: -moz-calc(100% - 250px); 
    width: calc(100% - 250px);
    float: left;
}
.barLeft p{
    margin: 10px 0;
    line-height: 25px;
}
.barRight{
    width: 200px;
    float: right;
}
.barRight h5{
    margin: 15px 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    background: #ad4b3a;
    /*para Firefox*/
    -moz-border-radius: 20px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 20px;
    /* para Opera */
    border-radius: 20px;
}
.barRight h5 span{
    margin-left: 5px;
}
.barRight a{
    margin-left: 15px;
    color: #333;
    font-size: 14px;
}
.barRight li, .barRight h4{
    margin: 4px 0;
}
.barRight a:hover{
    text-decoration: none;
    color: #ad4b3a;
}
.imgsText{
    display: table;
}
.text p{
    margin: 10px 0;
    line-height: 20px;
}
.imgsText img{
    width: 47%;
    margin: 0.5%;
    padding: 5px;
    float: left;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.movie{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.listDetails li{
    width: 19%;
    height: 178px;
    margin: 0.5%;
    float: left;
    text-align: center;
    background: #fff;
    position: relative;
    overflow: hidden;
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}
.listDetails li p{
    margin: 10px 0 0 0;
    color: #333;
}
.listDetails i{
    padding: 10px 14px;
    border: 2px solid #ad4b3a;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    font-size: 35px;
    color: #085b97;
}
.listLinks{
    padding: 20px 0;
}

.listLinks h1, .listImgOption h1{
    margin-bottom: 20px;
}

.listImgOption{
    padding: 30px 0;
    background: #eee;
}

.listImgOption li{
    width: 220px;
    height: 356px;
    margin: 10px;
    float: left;
}
.listImgOption li a{
    color: #333;
    text-decoration: none;
    display: block;
}
.listImgOption li p{
    margin: 0;
}
.listImgOption li figure{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    position: relative;
    border: 3px solid #184463;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
}

.listImgOption li:hover figure{
    border: 3px solid #ad4b3a;
}

.listImgOption li img{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition:	all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
    
}
.listImgOption li:hover img{
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    position: absolute;
    -webkit-transition:	all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
    
    
}
.listImgOption li h3{
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
}
.listImgOption li:hover h3{
    color: #184463;
}
.listImgOption li p{
    margin: 5px 0;
    font-size: 13px;
}

.listLinks ul{
    display: table;
}

.listLinks li{
    width: 48%;
    margin: 10px 1%;
    float: left;
}
.listLinks li a{
    padding: 5px 10px;
    font-size: 18px;
    color: #184463;
    text-decoration: none;
    line-height: 26px;
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}
.listLinks li a:hover{
    background: #ad4b3a;
    color: #fff;
}
.listLinks li a i{
    margin-right: 5px;
}

.listDetails li a {
	display: block;
	position: relative;
}
.listDetails li a {
	overflow: hidden;
    padding: 10%;
    height: 100%;
    text-decoration: none;
}
.listDetails li a div {
	position: absolute;
	background: #333;
	background: rgba(173,75,78,0.9);
	width: 100%;
	height: 100%;
    left: 0;
    bottom: -100%;
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}
.listDetails li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	color: rgba(255,255,255,0.9);
}



/*ANIMAÇÃO */
@-webkit-keyframes plus {
    0%{
        right: 20px;
    }
    10%{
        right: 0px;
    }
    20%{
        right: 10px;
    }
    30%{
        right: 0
    }
    40%{
        right: 5px;
    }
    50%{
        right: 0;
    }
    60%{
        right: 0;
    }
    80%{
        right: 0;
    }
    90%{
        right: 0;
    }
    100%{
        right: 0;
    }
}
@keyframes plus {
     0%{
        right: 20px;
    }
    10%{
        right: 0px;
    }
    20%{
        right: 10px;
    }
    30%{
        right: 0
    }
    40%{
        right: 5px;
    }
    50%{
        right: 0;
    }
    60%{
        right: 0;
    }
    80%{
        right: 0;
    }
    90%{
        right: 0;
    }
    100%{
        right: 0;
    }
}

/*CORINGA*/


@media (max-width: 1235px) {
    .topicsTitle li{
        width: 32%;
    }
    .listDetails li{
        width: 24%;
    }
}

@media (max-width: 925px){
    .barLeft{
        width: 100%;
        float: none;
    }
    .barRight{
        margin: 25px 0;
        float: none;
    }
    .listLinks li{
        width: 100%;
        margin: 15px 0;
        float: none;
    }
    .listDetails li{
        width: 32%;
    }
}

@media (max-width: 630px){
    .topicsTitle{
        display: none;
    }
    .imgsText img{
        width: 97%;
    }
    
    .listDetails li{
        width: 49%;
    }
    .movie{
        width: 100%;
    }
}

@media (max-width: 555px){
    .listImgOption li{
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
}

@media (max-width: 480px){
    .listDetails li{
        margin: 0.5% 0;
        width: 100%;
    }
}