

/* CARDS */
.cardsLinks{
    display: table;
    float: left;
    margin-top: 20px;
    width: 67%;
}
#listOld{
    width: 30%;
    margin-top: 27px;
    float: right;
}
#listOld li{
    margin-bottom: 15px;
}
#listOld h3{
    color: #d83d22;
    margin-bottom: 20px;
}
#listOld li a{
    color: #333;
    line-height: 20px;
    font-weight: bold;
}
#listOld li span{
    margin-top: 5px;
    display: block;
    font-size: 12px;
}



.grid .grid-item{
    position: relative;
    overflow: hidden;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}
.grid .grid-item.imageFeatured .textInfoCards{
    width: 50%;
    height: 100%;
    float: left;
    color: #fff;
    position: absolute;
    right: 0;
}
.grid .grid-item.imageFeatured .textInfoCards p{
    margin: 10%;
}
.grid .grid-item .textInfoCards p{
    margin: 10%;
    height: 80%;
    overflow: hidden;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
}
.textInfoCards{
    height: 100%;
}
.grid .grid-item.imageFeatured:nth-child(even){
    background: #852514;
}
.grid .grid-item.imageFeatured:nth-child(even) .textInfoCards:before{
    content: "";
    display: inline-block;
    position: absolute;
  vertical-align: middle;
  width: 0; 
  height: 0;
    left: -10px;
    top: 20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #852514;
}
.grid .grid-item.imageFeatured:nth-child(odd){
    background: #184463;
}
.grid .grid-item.imageFeatured:nth-child(odd) .textInfoCards:before{
    content: "";
    display: inline-block;
    position: absolute;
  vertical-align: middle;
  width: 0; 
  height: 0;
    left: -10px;
    top: 20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #184463;
}
.grid .grid-item.imageSimple .textInfoCards{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    color: #333;
    bottom: -100%;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.grid .grid-item.imageSimple:hover .textInfoCards{
    bottom: 0;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.grid .grid-item a, .grid .grid-item figure{
    width: 100%;
    display: table;
}
.grid .grid-item a{
    position: relative;
}

.grid .grid-item.imageFeatured figure{
    width: 50%;
    float: left;
}

.grid .grid-item img{
    width: 100%;
}
.viewMore{
    width: 200px;
    padding: 10px 0;
    margin: 20px auto;
    font-size: 20px;
    display: table;
    text-align: center;
    color: #fff;
    background: #d83d22;
    text-decoration: none;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.viewMore:hover{
    color: #fff;
    text-decoration: none;
}

/* CARDS */

#category{
    text-align: right;
    margin-top: 20px;
}
#category select{
    display: inline;
    width: 200px;
}


@media (max-width: 1235px) {
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 17px;
        font-size: 13px;
    }
    /*CARDS*/
    
}

@media (max-width: 1200px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 22px;
        font-size: 18px;
    }
    /*CARDS*/
}

@media (max-width: 1000px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 44px;
        font-size: 44px;
    }
    .cardsLinks{
        width: 100%;
        float: none;
    }
    #listOld{
        width: 100%;
        float: none;
    }
    /*CARDS*/
}

@media (max-width: 925px){
    /*CARDS*/
    
    .grid .grid-item .textInfoCards p{
        line-height: 30px;
        font-size: 28px;
    }
    .grid .grid-item.imageSimple .textInfoCards{
        bottom: auto;
        top: 0;
        background: rgba(255, 255, 255, 0.7);
        
    }
    /*CARDS*/
}

@media (max-width: 768px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 29px;
        font-size: 28px;
    }
    /*CARDS*/
}

@media (max-width: 630px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 4.3vw;
        font-size: 4vw;
    }
    /*CARDS*/
}