.viewMore{
    width: 200px;
    padding: 10px 0;
    margin: 20px auto;
    font-size: 20px;
    display: table;
    text-align: center;
    color: #fff;
    background: #d83d22;
    text-decoration: none;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.viewMore:hover{
    color: #fff;
    text-decoration: none;
}



.typeProject{
    margin: 30px 0;
    font-size: 0;
}
.typeProject li{
    width: 23%;
    height: 420px;
    margin: 1%;
    display: inline-block;
    position: relative;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}

.typeProject a{
    padding-bottom: 5%;
    display: block;
}
.typeProject a h3{
    color: #1c6691;
    font-weight: bold;
}
.typeProject a:hover h3{
    color: #d83d22;
}
.typeProject a:hover{
    text-decoration: none;
}
.typeProject h3{
    width: 90%;
    margin: 10px auto 0 auto;
    font-size: 20px;
    text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
    overflow: hidden;
}
.typeProject img{
    width: 100%;
    /*para Firefox*/
    -moz-border-radius: 5px 5px 0 0;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px 5px 0 0;
    /* para Opera */
    border-radius: 5px 5px 0 0;
}
.typeProject p{
    width: 90%;
    margin: 5px auto 0 auto;
    font-size: 15px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
}
.typeProject a:hover p{
    text-decoration: underline;
}
.textIntroduc{
    padding: 30px 0;
    background: #ededed;
}
.textIntroduc p{
    margin-top: 20px;
    font-size: 20px;
    line-height: 25px;
}



@media (max-width: 1235px) {
    .typeProject li{
        width: 31%;
    }
    
}



@media (max-width: 925px){
    .typeProject li{
        width: 48%;
    }
}



@media (max-width: 630px){
    .typeProject li{
        width: 100%;
        height: auto;
        margin: 1% 0;
    }
}