

/* CARDS */


/* CARDS */

.grid{
    margin-top: 30px;
}
.grid .grid-item{
    
    position: relative;
    overflow: hidden;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}
.grid .grid-item .textInfoCards p{
    margin: 10%;
    height: 80%;
    overflow: hidden;
    font-size: 20px;
    line-height: 27px;
    position: absolute;
}
.textInfoCards{
    height: 100%;
}

.grid .grid-item.imageSimple .textInfoCards{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    color: #333;
    bottom: -100%;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.grid .grid-item.imageSimple:hover .textInfoCards{
    bottom: 0;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.grid .grid-item a, .grid .grid-item figure{
    width: 100%;
    display: table;
}
.grid .grid-item a{
    position: relative;
}

.grid .grid-item img{
    width: 100%;
}
.viewMore{
    width: 200px;
    padding: 10px 0;
    margin: 20px auto;
    font-size: 20px;
    display: table;
    text-align: center;
    color: #fff;
    background: #d83d22;
    text-decoration: none;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.viewMore:hover{
    color: #fff;
    text-decoration: none;
}

/* CARDS */

#category{
    text-align: right;
    margin-top: 20px;
}
#category select{
    display: inline;
    width: 200px;
}


@media (max-width: 1235px) {
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 19px;
        font-size: 15px;
    }
    /*CARDS*/
    
}

@media (max-width: 1200px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 21px;
        font-size: 20px;
    }
    /*CARDS*/
}

@media (max-width: 1000px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 33px;
        font-size: 27px;
    }
    /*CARDS*/
}

@media (max-width: 925px){
    /*CARDS*/
    
    .grid .grid-item .textInfoCards p{
        line-height: 22px;
        font-size: 18px;
    }
    .grid .grid-item.imageSimple .textInfoCards{
        bottom: auto;
        top: 0;
        background: rgba(255, 255, 255, 0.7);
        
    }
    /*CARDS*/
}

@media (max-width: 768px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 29px;
        font-size: 28px;
    }
    /*CARDS*/
}

@media (max-width: 630px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 4.3vw;
        font-size: 4vw;
    }
    /*CARDS*/
}

/* CARDS */



