

/* 
/* Grid
===================================================================== */

.row {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
}

.row .row {
	width: auto;
	max-width: none;
	margin-left: -20px;
	margin-right: -20px;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

.column,
.columns,
.bgrid {
	position: relative;
	min-height: 1px;
	float: left;
}

.column,
.columns {
	padding: 0 20px;
}

.column.centered,
.columns.centered {
	float: none;
	margin: 0 auto;
}

.row.collapsed > .column,
.row.collapsed > .columns,
.column.collapsed,
.columns.collapsed {
	padding: 0;
}

[class*="column"] + [class*="column"]:last-child {
	float: right;
}

[class*="column"] + [class*="column"].end {
	float: right;
}

.one,
.row .one {
	width: 8.33333%;
}

.two,
.row .two {
	width: 16.66667%;
}

.three,
.row .three {
	width: 25%;
}

.four,
.row .four {
	width: 33.33333%;
}

.five,
.row .five {
	width: 41.66667%;
}

.six,
.row .six {
	width: 50%;
}

.seven,
.row .seven {
	width: 58.33333%;
}

.eight,
.row .eight {
	width: 66.66667%;
}

.nine,
.row .nine {
	width: 75%;
}

.ten .row .ten {
	width: 83.33333%;
}

.eleven,
.row .eleven {
	width: 91.66667%;
}

.twelve,
.row .twelve {
	width: 100%;
}

/* small screens
--------------------------------------------------------------- */
@media screen and (max-width:1024px) {
	.row .row {
		margin-left: -18px;
		margin-right: -18px;
	}

	.column,
	.columns {
		padding: 0 18px;
	}

}

/* tablets
--------------------------------------------------------------- */
@media screen and (max-width:768px) {
	.row {
		width: auto;
		padding-left: 30px;
		padding-right: 30px;
	}

	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: -15px;
		margin-right: -15px;
	}

	.column,
	.columns {
		padding: 0 15px;
	}

	.tab-fourth,
	.row .tab-fourth {
		width: 25%;
	}

	.tab-third,
	.row .tab-third {
		width: 33.33333%;
	}

	.tab-half,
	.row .tab-half {
		width: 50%;
	}

	.tab-2thirds,
	.row .tab-2thirds {
		width: 66.66667%;
	}

	.tab-3fourths,
	.row .tab-3fourths {
		width: 75%;
	}

	.tab-whole,
	.row .tab-whole {
		width: 100%;
	}

}

/* large mobile devices
--------------------------------------------------------------- */
@media screen and (max-width:600px) {
	.row {
		padding-left: 25px;
		padding-right: 25px;
	}

	.row .row {
		margin-left: -10px;
		margin-right: -10px;
	}

	.column,
	.columns {
		padding: 0 10px;
	}

	.mob-fourth,
	.row .mob-fourth {
		width: 25%;
	}

	.mob-half,
	.row .mob-half {
		width: 50%;
	}

	.mob-3fourths,
	.row .mob-3fourths {
		width: 75%;
	}

	.mob-whole,
	.row .mob-whole {
		width: 100%;
	}

}

/* small mobile devices
--------------------------------------------------------------- */
@media screen and (max-width:400px) {
	.row {
		padding-left: 30px;
		padding-right: 30px;
	}

	.row .row {
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.column,
	.columns {
		width: auto !important;
		float: none !important;
		margin-left: 0;
		margin-right: 0;
		clear: both;
		padding: 0;
	}

	[class*="column"] + [class*="column"]:last-child {
		float: none;
	}

}

/* 
/* block grids
===================================================================== */
.bgrid-sixth .bgrid {
	width: 16.66667%;
}

.bgrid-fourth .bgrid {
	width: 25%;
}

.bgrid-third .bgrid {
	width: 33.33333%;
}

.bgrid-half .bgrid {
	width: 50%;
}

.bgrid {
	padding: 0;
}

/* Clearing for block grid columns. Allows columns with 
different heights to align properly.
--------------------------------------------------------------------- */
.bgrid-sixth .bgrid:nth-child(6n+1),
.bgrid-fourth .bgrid:nth-child(4n+1),
.bgrid-third .bgrid:nth-child(3n+1),
.bgrid-half .bgrid:nth-child(2n+1) {
	clear: both;
}

/* small screens
--------------------------------------------------------------- */
@media screen and (max-width:1024px) {

	/* block grids for small screens */
	.s-bgrid-sixth .bgrid {
		width: 16.66667%;
	}

	.s-bgrid-fourth .bgrid {
		width: 25%;
	}

	.s-bgrid-third .bgrid {
		width: 33.33333%;
	}

	.s-bgrid-half .bgrid {
		width: 50%;
	}

	.s-bgrid-whole .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="bgrid-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.s-bgrid-sixth .bgrid:nth-child(6n+1),
	.s-bgrid-fourth .bgrid:nth-child(4n+1),
	.s-bgrid-third .bgrid:nth-child(3n+1),
	.s-bgrid-half .bgrid:nth-child(2n+1) {
		clear: both;
	}

}

/* tablets
--------------------------------------------------------------- */
@media screen and (max-width:768px) {
	.tab-bgrid-sixth .bgrid {
		width: 16.66667%;
	}

	.tab-bgrid-fourth .bgrid {
		width: 25%;
	}

	.tab-bgrid-third .bgrid {
		width: 33.33333%;
	}

	.tab-bgrid-half .bgrid {
		width: 50%;
	}

	.tab-bgrid-whole .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="tab-bgrid-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.tab-bgrid-sixth .bgrid:nth-child(6n+1),
	.tab-bgrid-fourth .bgrid:nth-child(4n+1),
	.tab-bgrid-third .bgrid:nth-child(3n+1),
	.tab-bgrid-half .bgrid:nth-child(2n+1) {
		clear: both;
	}

}

/* mobile devices
--------------------------------------------------------------- */
@media screen and (max-width:600px) {
	.mob-bgrid-sixth .bgrid {
		width: 16.66667%;
	}

	.mob-bgrid-fourth .bgrid {
		width: 25%;
	}

	.mob-bgrid-third .bgrid {
		width: 33.33333%;
	}

	.mob-bgrid-half .bgrid {
		width: 50%;
	}

	.mob-bgrid-whole .bgrid {
		width: 100%;
		clear: both;
	}

	[class*="mob-bgrid-"] .bgrid:nth-child(n) {
		clear: none;
	}

	.mob-bgrid-sixth .bgrid:nth-child(6n+1),
	.mob-bgrid-fourth .bgrid:nth-child(4n+1),
	.mob-bgrid-third .bgrid:nth-child(3n+1),
	.mob-bgrid-half .bgrid:nth-child(2n+1) {
		clear: both;
	}
    .tab-bgrid-half .bgrid{
        width: 100%;
    }
    .folio-item .item-wrap img{
        width: 100%;
    }

}

/* stack on small mobile devices
--------------------------------------------------------------- */
@media screen and (max-width:400px) {
	.stack .bgrid {
		width: auto !important;
		float: none !important;
		margin-left: 0;
		margin-right: 0;
		clear: both;
	}

}

