/*blog*/


.barLeft{
    width: -webkit-calc(100% - 250px); 
    width: -moz-calc(100% - 250px); 
    width: calc(100% - 250px);
    float: left;
    margin-top: 45px;
    position: relative;
}
.barLeft p{
    margin: 10px 0;
    line-height: 25px;
}

.btnShare{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    line-height: 42px;
    background: #666;
    color: #e4e4e4;
    text-indent: 3px;
    font-size: 30px;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    cursor: pointer;
}
.btnShare:hover{
    color: #007CBA;
    background: #e4e4e4;
}

#redes{
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    background: #e4e4e4;
   
    -moz-border-radius: 5px;
    
    -webkit-border-radius: 5px;
 
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}
#redes.active{
    padding: 15px 15px 10px 15px;
    visibility: visible;
    opacity: 1;
    height: auto;
    overflow: inherit;
}
#redes div{
    display: block;
    margin-bottom: 10px;
}
.barLeft h1{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom-color: #999;
}
.barRight{
    width: 200px;
    float: right;
}
.barRight h5{
    margin: 15px 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    background: #ad4b3a;
    /*para Firefox*/
    -moz-border-radius: 20px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 20px;
    /* para Opera */
    border-radius: 20px;
}
.barRight h5 span{
    margin-left: 5px;
}
.barRight a{
    padding: 0 12px;
    color: #333;
    font-size: 14px;
    display: block;
    line-height: 18px;
}
.barRight li{
    padding: 8px 0;
    border-bottom: 1px solid #e4e4e4;
}
.barRight a:hover{
    text-decoration: none;
    color: #ad4b3a;
}
.barRight a span{
    background: #e4e4e4;
    font-size: 11px;
    display: table;
    padding: 1px 10px;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.imgsText{
    display: table;
}
.text p{
    margin: 10px 0;
    line-height: 20px;
    color: #fff;
}
.imgsText img{
    width: 47%;
    margin: 0.5%;
    padding: 5px;
    float: left;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.movie{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}




@media (max-width: 925px){
    .barLeft{
        width: 100%;
        float: none;
    }
    .barRight{
        width: 100%;
        margin: 25px 0;
        float: none;
    }
}

@media (max-width: 630px){
    .imgsText img{
        width: 97%;
    }
    .movie{
        width: 100%;
    }
}