#formContact .row{
    margin: 30px 0;
}
#formContact .row label{
    margin-bottom: 5px;
    font-weight: lighter;
    color: #d83d22;
}
h1 + p{
    margin-top: 20px;
    line-height: 23px;
}
#formContact .row .btn{
    float: right;
    background: #d83d22;
    color: #fff;
}
#formContact .row .btn i{
    margin-left: 5px;
}
.scrolloff {
        pointer-events: none;
    }
#listTels{
    margin: 30px 0;
}

#listTels li{
    margin: 20px 30px;
    display: inline-block;
}
#listTels li h4{
    font-weight: bold;
}
#listTels li p{
    margin: 10px 0;
    font-size: 12px;
}
#listTels li p span:before{
    margin-right: 5px;
    content: "\f095";
    font-family: FontAwesome;
}
#listTels li p span{
    margin-top: 5px;
    display: block;
}
@media (max-width: 925px){
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float: none;
    width: 100%;
    margin: 20px 0;
    }
    #formContact .row{
        margin: 0;
    }
    #formContact{
        margin-bottom: 20px;
    }
}