/*CORINGA*/
.txtrow {
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.txtrow h2 {
    font-size: 25px;
    font-weight: lighter;
    margin-top: 20px;
}
.conteudoInst {
    margin-bottom: 30px;
}
.box1 {
    background-color: #007CBA;
    padding: 40px;
    color: #fff;
}
.box2 {
    background-color: #e48816;
}
.standardTitle{
    width: 100%;
    margin: 20px 0;
    padding: 30px 0;
    background: #eeeeee;
}
.btnShare{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    line-height: 42px;
    background: #fff;
    color: #666;
    text-indent: 3px;
    font-size: 30px;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    cursor: pointer;
}
.btnShare:hover{
    color: #007CBA;
}
/* Backgrounds dos títulos por curso */
.adm {
    background: url(../images/bgcursotitle-01.jpg) no-repeat center #c74b37;
    background-size: cover;
    color: #fff;
}
.cic {
    background: url(../images/bgcursotitle-02.jpg) no-repeat center #47c337;
    background-size: cover;
    color: #fff;
}
.dir {
    background: url(../images/bgcursotitle-03.jpg) no-repeat center #8e7b28;
    background-size: cover;
    color: #fff;
}
.edf {
    background: url(../images/bgcursotitle-04.jpg) no-repeat center #e48816;
    background-size: cover;
    color: #fff;
}
.enf {
    background: url(../images/bgcursotitle-05.jpg) no-repeat center #19a6d0;
    background-size: cover;
    color: #fff;
}
.egc {
    background: url(../images/bgcursotitle-06.jpg) no-repeat center #dfc11a;
    background-size: cover;
    color: #fff;
}
.egp {
    background: url(../images/bgcursotitle-07.jpg) no-repeat center #525252;
    background-size: cover;
    color: #fff;
}
.med {
    background: url(../images/bgcursotitle-08.jpg) no-repeat center #1bacb7;
    background-size: cover;
    color: #fff;
}
.ped {
    background: url(../images/bgcursotitle-09.jpg) no-repeat center #851e98;
    background-size: cover;
    color: #fff;
}
.odt {
    background: url(../images/bgcursotitle-10.jpg) no-repeat center #0cc7d0;
    background-size: cover;
    color: #fff;
}
.oiptan {
    background: url(../images/bgcursotitle-11.jpg) no-repeat center #0cc7d0;
    background-size: cover;
    color: #fff;
}


.standardTitle #redes{
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    top: 40px;
    padding: 0;
    background: #fff;
   
    -moz-border-radius: 5px;
    
    -webkit-border-radius: 5px;
 
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
}
.standardTitle #redes.active{
    padding: 15px 15px 10px 15px;
    visibility: visible;
    opacity: 1;
    height: auto;
    overflow: inherit;
}
.standardTitle #redes div{
    display: block;
    margin-bottom: 10px;
}

.standardTopics{
    width: 100%;
    margin: 20px 0;
    padding: 30px 0;
    background: #e7c3bc;
}
.standardTopicsInst {
    width: 100%;
    margin: 20px 0;
    padding: 30px 0;
    background: #007cba;
}


.titleDefault{
    margin: 0;
    line-height: 25px;
    border: 0;
}

.titleDefault span{
    font-size: 16px;
    font-weight: lighter;
}
.titleDefault p{
    margin: 0;
    font-weight: lighter;
    line-height: 32px;
}
/* Em construção */
.titleDefaultWip {
    color: #ababab;
    padding: 30px 0 50px 0;
    line-height: 25px;
    border: 0;
}
.titleDefaultWip h4 {
    font-size: 70px;
    text-align: center;
}
.titleDefaultWip h2 {
    font-size: 90px;
    text-align: center;
}
.titleDefaultWip h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.titleDefaultWip span{
    font-size: 16px;
    font-weight: lighter;
}
.titleDefaultWip p{
    font-size: 25px;
    text-align: center;
    margin: 0;
    font-weight: lighter;
}
/* coordenador do curso */
.titleDefault2{
    margin: 0;
    line-height: 25px;
    border: 0;
    color: #00547F;
}
.titleDefault2 span{
    font-size: 16px;
    font-weight: lighter;
}
.titleDefault2 p{
    margin: 0;
    font-weight: lighter;
}
/* fim coordenador do curso */
/* biblioteca topics Title */
.topicsBiblioteca {
    display: table;
    width: 100%;
    margin: 20px 0 0 0;
}
.topicsBiblioteca li{
    width: 20%;
    padding-bottom: 1.5%;
    margin: 2.5%;
    float: left;
    background: #007CBA;
    color: #fff;
     -webkit-transition:	all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
/* Cores por curso */
.admcolor li {
    background: #c74b37;
}
.ciccolor li {
    background: #47c337;
}
.dircolor li {
    background: #8e7b28;
}
.edfcolor li {
    background: #e48816;
}
.enfcolor li {
    background: #19a6d0;
}
.egccolor li {
    background: #dfc11a;
}
.egpcolor li {
    background: #525252;
}
.medcolor li {
    background: #1bacb7;
}
.pedcolor li {
    background: #851e98;
}
.odtcolor li {
    background: #0cc7d0;
}
.iptancolor li {
    background: #0cc7d0;
}




.topicsTitle {
    display: table;
    width: 100%;
    margin: 20px 0 0 0;
}
.topicsTitle li{
    width: 20%;
    border-bottom: 5px solid;
    border-color: #fff;
    padding: 1.5%;
    margin: 2.5%;
    float: left;
    color: #fff;
    text-align: center;
     -webkit-transition:    all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.topicsTitle h5, .topicsTitle p{
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}
.topicsTitle h5{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: lighter;
}
.topicsTitle .centericon{
    left: auto;
}
.btnCourse{
    width: 120px;
    position: fixed;
    background: #ad4b3a;
    right: 0;
    top: 200px;
    color: #fff;
    display: block;
    font-size: 25px;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    animation-name: plus;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 5;
    animation-direction: alternate;
}

.btnCourse:before{
    content: '';
    width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
	border-right:10px solid #ad4b3a;
    display: block;
    position: absolute;
    left: -10px;
    top: 10px;
}

.barLeft{
    width: 100%; 
}
.blockRight{
    width: 220px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background: #ccc;
    /*para Firefox*/
    -moz-border-radius: 7px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 7px;
    /* para Opera */
    border-radius: 7px;
}
.blockRight ul{
    margin-bottom: 10px;
}
.barLeft p{
    margin: 10px 0;
    line-height: 25px;
}
.barRight{
    margin: 25px 0;
    width: 100%;
    text-align: center;
    display: table;
}
.barRight h5{
    margin: 0 0 15px 0;
    padding: 5px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    background: #c74b37;
    /*para Firefox*/
    -moz-border-radius: 7px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 7px;
    /* para Opera */
    border-radius: 7px;
}
.barRight h5 span{
    margin-left: 5px;
}
.barRight a{
    margin-left: 15px;
    color: #333;
    font-size: 14px;
}
.barRight h4{
    margin: 5px 0 0 15px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.barRight li{
    margin: 4px 0;
}
.barRight a:hover{
    text-decoration: none;
    color: #ad4b3a;
}
.barRight p{
    margin-left: 15px;
    color: #333;
    font-size: 16px;
    line-height: 20px;
}
.imgsText{
    display: table;
}
.text p{
    margin: 10px 0;
    line-height: 20px;
}
.imgsText img{
    width: 47%;
    margin: 0.5%;
    padding: 5px;
    float: left;
    background: #fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.movie{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.listDetails li{
    width: 19%;
    height: 178px;
    margin: 0.5%;
    float: left;
    text-align: center;
    background: #fff;
    position: relative;
    overflow: hidden;
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}
.listDetails li p{
    margin: 10px 0 0 0;
    color: #333;
}
.listDetails i{
    padding: 10px 14px;
    border: 2px solid #ad4b3a;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    font-size: 35px;
    color: #085b97;
}
/* listDetails da página IPTAN */


.listDetails1 li{
    width: 19%;
    height: 178px;
    margin: 0.5%;
    float: left;
    text-align: center;
    background: #fff;
    position: relative;
    overflow: hidden;
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}
.listDetails1 li p{
    margin: 10px 0 0 0;
    color: #333;
}
.listDetails1 i{
    padding: 10px 14px;
    border: 2px solid #ad4b3a;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    font-size: 35px;
    color: #085b97;
}

.listLinks{
    padding: 20px 0;
}

.listLinks h1, .listImgOption h1{
    margin-bottom: 20px;
}

.listImgOption{
    padding: 30px 0;
    background: #eee;
}

.listImgOption li{
    width: 220px;
    height: 356px;
    margin: 10px;
    float: left;
}
.listImgOption li a{
    color: #333;
    text-decoration: none;
    display: block;
}
.listImgOption li p{
    margin: 0;
}
.listImgOption li figure{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    position: relative;
    border: 3px solid #184463;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
}

.listImgOption li:hover figure{
    border: 3px solid #ad4b3a;
}

.listImgOption li img{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition:	all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
    
}
.listImgOption li:hover img{
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    position: absolute;
    -webkit-transition:	all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
    
    
}
.listImgOption li h3{
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
}
.listImgOption li:hover h3{
    color: #184463;
}
.listImgOption li p{
    margin: 5px 0;
    font-size: 13px;
}
/* ListImageOption - página IPTAN */
.listLinks h1, .listImgOptionIptan h1{
    margin-bottom: 20px;
}

.listImgOptionIptan {
    padding: 30px 0;
    background: #007CBA;
}
.listImgOptionIptan h1{
    color: #fff;
}
.listImgOptionIptan li{
    width: 30%;
    height: 356px;
    margin: 10px;
    float: left;
}
.listImgOptionIptan li a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.listImgOptionIptan li p{
    margin: 0;
    text-align: center;
}
.listImgOptionIptan li figure{
    width: 250px;
    height: 250px;
    margin: 20px auto;
    display: block;
    overflow: hidden;
    position: relative;
    border: 7px solid #095073;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
}

.listImgOptionIptan li img{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    
}
.listImgOptionIptan li:hover img{
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    position: absolute;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    
    
}
.listImgOptionIptan li h3{
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
}
.listImgOptionIptan li:hover h3{
    color: #184463;
}
.listImgOptionIptan li p{
    margin: 5px 0;
    font-size: 13px;
}


.listLinks ul{
    display: table;
}

.listLinks li{
    width: 48%;
    margin: 10px 1%;
    float: left;
}
.listLinks li a{
    padding: 5px 10px;
    font-size: 18px;
    color: #184463;
    text-decoration: none;
    line-height: 26px;
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}
.listLinks li a:hover{
    background: #ad4b3a;
    color: #fff;
}
.listLinks li a i{
    margin-right: 5px;
}

.listDetails li a {
	display: block;
	position: relative;
}
.listDetails li a {
	overflow: hidden;
    padding: 10%;
    height: 100%;
    text-decoration: none;
}
.listDetails li a div {
	position: absolute;
	background: #333;
	background: rgba(173,75,78,0.9);
	width: 100%;
	height: 100%;
    left: 0;
    bottom: -100%;
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}
.listDetails li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	color: rgba(255,255,255,0.9);
}
.btnFiles{
    width: 100%;
}
.btnFiles button{
    width: 70%;
    padding: 0 20px;
    margin: 35px auto;
    border: 0;
    text-align: left;
    display: block;
    color: #fff;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00547f+0,00799e+100 */
background: rgb(0,84,127); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(0,84,127,1) 0%, rgba(0,121,158,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,84,127,1) 0%,rgba(0,121,158,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,84,127,1) 0%,rgba(0,121,158,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00547f', endColorstr='#00799e',GradientType=1 ); /* IE6-9 */

}
.btnFiles button p{
    padding: 20px 0;
    display: inline-block;
    vertical-align: middle;
}
.btnFiles button p:last-child{
    margin-left: 15px;
    padding-left: 15px;
    font-size: 12px;
    border-left: 1px solid #fff;
}



/*ANIMAÇÃO */
@-webkit-keyframes plus {
    0%{
        right: 20px;
    }
    10%{
        right: 0px;
    }
    20%{
        right: 10px;
    }
    30%{
        right: 0
    }
    40%{
        right: 5px;
    }
    50%{
        right: 0;
    }
    60%{
        right: 0;
    }
    80%{
        right: 0;
    }
    90%{
        right: 0;
    }
    100%{
        right: 0;
    }
}
@keyframes plus {
     0%{
        right: 20px;
    }
    10%{
        right: 0px;
    }
    20%{
        right: 10px;
    }
    30%{
        right: 0
    }
    40%{
        right: 5px;
    }
    50%{
        right: 0;
    }
    60%{
        right: 0;
    }
    80%{
        right: 0;
    }
    90%{
        right: 0;
    }
    100%{
        right: 0;
    }
}

/*CORINGA*/


@media (max-width: 1235px) {
    .topicsTitle li{
        width: 20%;
        height: 178px;
    }
    .listDetails li{
        width: 24%;
    }
}

@media (max-width: 925px){
    .barLeft{
        width: 100%;
        float: none;
    }
    .barRight{
        margin: 25px 0;
        float: none;
    }
    .listLinks li{
        width: 100%;
        margin: 15px 0;
        float: none;
    }
    .listDetails li{
        width: 32%;
    }
    .topicsTitle li{
    width: 45%;
    height: 130px;
    }
    .listImgOptionIptan li figure{
        width: 150px;
        height: 150px;
    }
    .topicsBiblioteca li{
        width: 45%;
    }
    .blockRight{
        width: 100%;
        margin: 10px 0;
    }
    .btnFiles button{
    width: 100%;
    }
}

@media (max-width: 630px){
    .topicsTitle li {
        width: 45%;

    }
    .imgsText img{
        width: 97%;
    }
    
    .listDetails li{
        width: 49%;
    }
    .movie{
        width: 100%;
    }
    .topicsTitle h5{
        font-size: 3vw;
        margin: 0;
    }
    .topicsTitle p{
        font-size: 2vw;
    }
    .topicsTitle li{
        padding: 3%;
    }
}

@media (max-width: 555px){
    .listImgOption li{
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
    .listImgOptionIptan li{
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
}

@media (max-width: 480px){
    .listDetails li{
        margin: 0.5% 0;
        width: 100%;
    }
    .btnFiles button{
        padding: 20px;
    }
    .btnFiles button p{
        border: 0 !important;
        display: block;
        margin: 0 !important;
        padding: 0 !important;
        }
}