

/* CARDS */

.grid{
    margin-top: 30px;
}
.grid .grid-item{
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.grid .grid-item .textInfoCards p{
    margin: 10%;
    height: 80%;
    overflow: hidden;
    font-size: 20px;
    line-height: 27px;
    position: absolute;
}
.textInfoCards{
    height: 100%;
}

.grid .grid-item.imageSimple .textInfoCards{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    color: #333;
    bottom: -100%;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.grid .grid-item.imageSimple:hover .textInfoCards{
    bottom: 0;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.grid .grid-item a, .grid .grid-item figure{
    width: 100%;
    display: table;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.grid .grid-item a{
    position: relative;
    color: #fff;
}
.grid .grid-item p{
    width: 100%;
    height: 100%;
    padding: 65% 5% 0 5%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 115%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.grid .grid-item img{
    width: 100%;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    -webkit-transition:	all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.grid .grid-item:hover img{
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transition:	all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.viewMore{
    width: 200px;
    padding: 10px 0;
    margin: 20px auto;
    font-size: 20px;
    display: table;
    text-align: center;
    color: #fff;
    background: #d83d22;
    text-decoration: none;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.viewMore:hover{
    color: #fff;
    text-decoration: none;
}

/* CARDS */

#category{
    text-align: right;
    margin-top: 20px;
}
#category select{
    display: inline;
    width: 200px;
}


@media (max-width: 1235px) {
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 20px;
        font-size: 16px;
    }
    /*CARDS*/
    
}

@media (max-width: 1200px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 25px;
        font-size: 20px;
    }
    /*CARDS*/
}

@media (max-width: 1000px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 33px;
        font-size: 27px;
    }
    /*CARDS*/
}

@media (max-width: 925px){
    /*CARDS*/
    
    .grid .grid-item .textInfoCards p{
        line-height: 22px;
        font-size: 18px;
    }
    .grid .grid-item.imageSimple .textInfoCards{
        bottom: auto;
        top: 0;
        background: rgba(255, 255, 255, 0.7);
        
    }
    /*CARDS*/
    
    .grid .grid-item img{
    -webkit-filter: blur(0);
    filter: blur(0);
}
.grid .grid-item:hover img{
    -webkit-filter: blur(0);
    filter: blur(0);
}
}

@media (max-width: 768px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 29px;
        font-size: 28px;
    }
    /*CARDS*/
}

@media (max-width: 630px){
    /*CARDS*/
    .grid .grid-item p{
        line-height: 4.3vw;
        font-size: 4vw;
    }
    /*CARDS*/
}