/*GERAL*/
body{
    margin: 0;
    font-family: 'Pontano Sans', sans-serif;
    padding-top: 178px;
}

.form-control:focus{
    box-shadow: none;
    border-color: #ccc;
}

h1{
    padding-right: 15px;
    font-size: 35px;
    display: table;
}
#search input{
    border-radius: 0;
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
}
#barTop{
    width: 100%;
    position: fixed;
    z-index: 16;
    box-shadow: 0px 3px 0 rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 3px 0 rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 3px 0 rgba(0, 0, 0, 0.3);
    top: 0;
    background: #fff;
}
#logoReduce, #logoPluss{
    position: absolute;
}
#barTop #logoReduce{
    opacity: 0;
    visibility: hidden;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#barTop.reduce #logoReduce{
    opacity: 1;
    visibility: visible;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#barTop > #barCenter{
    height: 110px;
}
#barTop.reduce #logoPluss{
    opacity: 0;
    visibility: hidden;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#barTop.reduce > #barCenter{
    height: 53px;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#barTop.reduce #search{
    right: 172px;
}
#search{
    width: 250px;
    position: absolute;
    bottom: 16px;
    right: 0%;
}
#barCenter{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}
#menuHome{
    width: 100%;
    padding: 5px 0;
    text-align: center;
    background: #007CBA;
    box-shadow: 0px 3px 0 rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 3px 0 rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0px 3px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -30px;
}
#btnServices{
    top: -20px;
    right: 0;
    padding: 10px;
    position: absolute;
    background: #d83d22;
    color: #fff;
    cursor: pointer;
    /*para Firefox*/
    -moz-border-radius: 0 0 5px 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 0 0 5px 5px;
    /* para Opera */
    border-radius: 0 0 5px 5px;
}
#btnServices span{
    font-size: 14px;
}
.serviceOnline{
    width: 100%;
    padding: 0;
    background: #d83d22;
    text-align: right;
    opacity: 0;
    overflow: hidden;
    height: 0;
    -webkit-transition:	all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
/* Classes de adaptação */
.centericon {
    left: 50%;
    margin: 0 0 15px 0%;
    position: relative;
}
.centericon2 {
    left: 50%;
    margin: 0 0 15px 0%;
    position: relative;
    background-color: #fff;
}
.textbox {
    text-align: center;
    font-weight: bold;
}
.admbg {
    background: url(../images/enade.jpg) no-repeat center #184463;
}

.serviceOnline.active{
    height: auto;
    opacity: 1;
    -webkit-transition:	all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.serviceOnline ul{
    margin: 20px 40px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    color: #fff;
    font-size: 12px;
}
.serviceOnline ul li{
    margin: 6px 0;
}
.serviceOnline ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
.serviceOnline ul li a:before{
    content: "\f061";
    margin-right: 5px;
    font-family: FontAwesome;
}
.serviceOnline ul li a:hover{
    color: #9c0100;
}
#menuHome > li{
    display: inline-block;
    position: relative;
    margin: 0 5px;
}
#menuHome > li:last-child{
    border: 0;
}
#menuHome > li:before{
    content: "";
  display: none;
  vertical-align: middle;
  position: absolute;
  width: 0; 
  height: 0; 
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #184463;
}
#menuHome > li:after{
    content: "";
    display: none;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #184463;
}
#menuHome > li.active:before{
    display: block;
}
#menuHome > li.active:after{
    display: block;
}
#menuHome > li.active > a {
    color: #184463;
    background: #fff;
}
#menuHome > li:hover > a {
    color: #184463;
    background: #fff;
}
#menuHome > li > a{
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    display: block;
    /*para Firefox*/
    -moz-border-radius: 5px 5px 0 0 ;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px 5px 0 0;
    /* para Opera */
    border-radius: 5px 5px 0 0;
}


#menuHome > li:hover:after{
    display: block;
}
#menuHome > li:hover:before{
    display: block;
}

.submenu{
    width: 250px;
    left: 50%;
    top: 100%;
    margin-left: -125px;
    padding: 15px;
    position: absolute;
    display: none;
    text-align: left;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
#menuHome > li.active .submenu{
    display: block;
}
.submenu li{
    margin: 5px 0;
}
.submenu li a{
    padding: 3px 10px;
    display: block;
    line-height: 18px;
    /*para Firefox*/
    -moz-border-radius: 3px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 3px;
    /* para Opera */
    border-radius: 3px;
}
.submenu li a:hover{
    background: #003956;
    text-decoration: none;
    color: #fff;
}
.submenu ul{
    margin-left: 15px;
}
#logoIptan{
    margin-top: 20px;
    display: table;
}
#logoIptan img{
    width: 90px;
}
#breadcrumb{
    width: 1200px;
    margin: 0 auto;
}
#breadcrumb li{
    display: inline-block;
}
#breadcrumb li a{
    text-decoration: none;
    color: #666;
    font-size: 14px;
}
#breadcrumb li a:after{
    content: ">";
    margin: 0 5px;
}
#breadcrumb li:last-child a{
    color: #ad4b3a;
}
#breadcrumb li:last-child a:after{
    display: none;
}

/*GERAL*/

#openCloseMap{
    margin: 5px auto 0;
    display: table;
    text-align: center;
    cursor: pointer;
    font-size: 35px;
    color: #fff;
}
#topFooter{
    display: flex;
   display: webkit-box;
   display: webkit-flex;
   -webkit-box-align: center;
   -webkit-align-itens: center;
   align-items: center;
   justify-content: center;
   -webkit-justify-content: center;
   -webkit-box-pack: center;
}
#logoInfo{
    margin: 2% 4%;
    text-align: center;
}
#logoInfo p{
    margin: 7px 0;
    color: #fff;
}
#mapSite{
    padding: 0 0 1% 0;
    width: 100%;
    height: 58px;
    background: #333;
    overflow: hidden;
}
.openMapsFooter{
    height: auto !important;
}
.footer{
    background: #2c2c2c;
}
.footer #redes:before{
    content: "";
    width: 3px;
    height: 30px;
    top: 10px;
    left: 49%;
    /*background: #fff; */
    display: block;
    position: absolute;
}
.footer #redes{
    position: relative;
}
#openCloseMap p{
    margin: 0;
    font-size: 12px;
}
#openCloseMap .fa-times{
    display: none;
}
#mapSite ul{
    width: 100%;
    display: table;
}
#mapSite ul li{
    margin: 0 20px;
    float: left;
    color: #fff;
}
#mapSite ul li h4{
    margin: 15px 0 5px 0;
    font-size: 18px;
    color: #C74B37;
}
#mapSite ul li a{
    margin: 4px 0;
    display: table;
    color: #fff;
    font-size: 13px;
}
#mapSite ul li a.linkTitle{
    font-size: 18px;
    color: #C74B37;
}
.centerContent{
    width: 1200px;
    margin: 0 auto;
    display: table;
    margin-bottom: 30px;
    position: relative;
}

#redes a{
    width: 40px;
    height: 40px;
    margin: 5px;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    font-size: 25px;
    line-height: 41px;
    color: #fff;
}
#redes a:first-child{
    background: #3b5998;
}
#redes a:last-child{
    background: #ee1c1b;
}
.tagsSearch{
    border-top: 1px solid #999;
    margin: 20px 0;
    padding-top: 10px;
}
.tagsSearch h3{
    margin: 0 0 5px 0;
    color: #ad4b3a;
    font-size: 20px;
}
.tagsSearch span{
    font-size: 11px;
    margin-right: 5px;
}
#page{
    margin: 20px 0;
    text-align: center;
}
#page li{
    display: inline-block;
    vertical-align: middle;
}
#page li a{
    padding: 5px;
    min-width: 30px;
    display: block;
    background: #184463;
    color: #fff;
    font-size: 22px;
     /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
#page li a:hover{
    text-decoration: none;
}
.subtitulo{
    margin-top: 15px;
    font-size: 20px;
}
#btnMenu{
    display: none;
    top: 0;
    right: 0;
    padding: 12px;
    position: absolute;
    background: #3f3f3f;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
    /*para Firefox*/
    -moz-border-radius: 0 0 5px 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 0 0 5px 5px;
    /* para Opera */
    border-radius: 0 0 5px 5px;
}
#btnMenu .fa-times, #btnMenu.active .fa-bars{
    display: none;
}
#btnMenu.active .fa-times{
    display: block;
    font-size: 23px;
}
.topicsBiblioteca img{
    background: #fff;
}
.bodyFix{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
}

@media (max-width: 1235px) {
    .centerContent{
        width: 890px;
    }
    #barCenter{
        width: 890px;
    }
    #breadcrumb{
        width: 90%;
    }
    #logoInfo{
        margin: 3% 3%;
    }
    .topicsBiblioteca .textbox{
        font-size: 1vw;
    }
}

@media (max-width: 1050px){
    body{
        padding: 0 !important;
    }
    #barTop{
        position: inherit;
        top: auto;
        margin-bottom: 20px;
    }
    #menuHome{
        padding-top: 50px;
        overflow: auto;
        bottom: auto;
        width: 280px;
        height: 100%;
        left: -280px;
        top: 0;
        height: 100%;
        position: fixed;
        z-index: 20;
        -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
    }
    #menuHome.active{
        left: 0;
        -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
    }
    #menuHome > li{
        display: block;
        text-align: left;
    }
    #menuHome > li > a{
        border-bottom: 1px solid #999;
    }
    #menuHome > li > a:hover{
        background: #fff;
    }
    #logoReduce, #logoPluss{
        position: relative;
    }
    #logoPluss{
        display: none;
    }
    #barTop #logoReduce{
        opacity: 1;
        visibility: visible;
    }
    #barTop > #barCenter{
        width: 90%;
        padding: 20px 0;
        height: auto;
    }
    #logoIptan{
        margin: 40px auto 0 auto;
    }
    #btnServices{
        top: 0;
        right: 50px;
        padding: 12px;
        font-size: 22px;
    }
    #search{
        width: 60%;
        bottom: auto;
        top: 4px;
        right: 105px;
    }
    #btnServices span{
        display: none;
    }
    #btnMenu{
        display: block;
        z-index: 21;
    }
    .submenu{
        width: auto;
        position: relative;
        left: auto;
        margin-left: auto;
    }
    #menuHome > li:before, #menuHome > li:after{
        content: none;
    }
    #search {
        left: 0%;
    }
}

@media (max-width: 925px){
    .centerContent{
        width: 600px;
    }
    .footer #redes:before{
        display: none;
    }
    #topFooter{
    display: block;
        padding: 30px 0;
   
	}
    #logoInfo{
        width: 100%;
        margin: 1% 0;
        float: none;
        text-align: center;
    }
    #mapSite ul li{
        margin: 20px 30px;
        width: 23%;
    }
    .serviceOnline ul{
        margin: 30px 0;
        display: block;
    }
    .serviceOnline  #barCenter{
        width: 90%;
    }
    
    .topicsBiblioteca .textbox{
        font-size: 2vw;
    }
}

@media (max-width: 630px){
    .centerContent{
        width: 90%;
    }
    h1{
        font-size: 7vw;
    }
    #mapSite ul li{
        margin: 20px 0;
        width: 50%;
    }
}

@media (max-width: 430px){
    #mapSite ul li{
        margin: 20px 0;
        width: 100%;
    }
}

@media (min-width: 1050px){
    #menuHome > li:hover .submenu{
        display: block;
    }
}