body{
    padding-top: 160px;
}
.slider{
    width: 100%;
    height: 500px;
}

.carousel-indicators li, .carousel-indicators .active{
    width: 237px;
    height: auto;
    margin: 0;
    border: 0;
    border-radius: initial;
    text-indent: inherit;
    position: relative;
}
.carousel-indicators li{
    background: rgba(255, 255, 255, 0.6);
    text-align: left;
}
.carousel-indicators li p{
    max-height: 32px;
    overflow: hidden;
    display: block;
    margin: 15px;
}
.carousel-indicators{
    width: 1200px;
    left: 50%;
    margin-left: -600px;
}
.carousel-indicators{
    bottom: 0;
}

.carousel-indicators .active{
    background: #337ab7;
    color: #fff;
}
#localNews, #localHome, #localEnade{
    width: 100%;
    padding: 40px 0;
    background: #2c2c2c;
}
#localNews{
    background: #fff;
}
#localEnade{
    background: url(../images/enade.jpg) no-repeat center #184463;
    background-size: cover;
}


/* CARDS */
.grid{
    display: table;
    margin-top: 20px;
    width: 100%;
}
.grid .grid-item{
    overflow: hidden;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
}
.grid .grid-item.imageFeatured .textInfoCards{
    width: 50%;
    height: 100%;
    float: left;
    color: #fff;
    position: absolute;
    right: 0;
}
.grid .grid-item.imageFeatured .textInfoCards p{
    margin: 10%;
}
.grid .grid-item .textInfoCards p{
    margin: 10%;
    height: 80%;
    overflow: hidden;
    font-size: 20px;
    line-height: 27px;
    position: absolute;
}
.textInfoCards{
    height: 100%;
}
.grid .grid-item.imageFeatured:nth-child(even){
    background: #852514;
}
.grid .grid-item.imageFeatured:nth-child(even) .textInfoCards:before{
    content: "";
    display: inline-block;
    position: absolute;
  vertical-align: middle;
  width: 0; 
  height: 0;
    left: -9px;
    top: 20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #852514;
}
.grid .grid-item.imageFeatured:nth-child(odd){
    background: #184463;
}
.grid .grid-item.imageFeatured:nth-child(odd) .textInfoCards:before{
    content: "";
    display: inline-block;
    position: absolute;
  vertical-align: middle;
  width: 0; 
  height: 0;
    left: -9px;
    top: 20px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #184463;
}
.grid .grid-item.imageSimple .textInfoCards{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    color: #333;
    bottom: -100%;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.grid .grid-item.imageSimple:hover .textInfoCards{
    bottom: 0;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

.grid .grid-item a, .grid .grid-item figure{
    width: 100%;
    display: table;
}
.grid .grid-item a{
    position: relative;
}

.grid .grid-item.imageFeatured figure{
    width: 50%;
    float: left;
}

.grid .grid-item img{
    width: 100%;
}

.viewMore{
    width: 200px;
    padding: 10px 0;
    margin: 20px auto;
    font-size: 20px;
    display: table;
    text-align: center;
    color: #fff;
    background: #d83d22;
    text-decoration: none;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.viewMore:hover{
    color: #fff;
    text-decoration: none;
}

/* CARDS */


/*AREA HOME */
.areaHome{
    width: 48%;
    float: left;
}
.areaHome:last-child{
    float: right;
}
.areaHome h1{
    color: #fff;
}
#listCurse{
    margin-top: 20px;
    padding: 15px;
    background: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}
#listCurse li{
    margin: 4px 0;
}
#listCurse li a{
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    background: #007cba;
    display: block;
    color: #fff;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#listCurse li a{
    background: #00547F;
}
#listCurse li:nth-child(2n) a{
    background: #007cba;
}
#listCurse li a:hover{
    text-decoration: none;
    padding: 15px;
    background: #fff;
    color: #333;
    -webkit-transition:	all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
/* AREA HOME */



/* Calendário */

.contentCalendar{
    width: 100%;
    margin: 30px 0;
    background: #fff;
    float: right;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    /*para Firefox*/
    -moz-border-radius: 10px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 10px;
    /* para Opera */
    border-radius: 10px;
}

.dateNumber{
    width: 50px;
    height: 50px;
    font-size: 30px;
    float: left;
    color: #fff;
    line-height: 49px;
    background: #d13539;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    text-align: center;
}
.siglEvent{
    height: 50px;
    width: 83%;
    overflow: hidden;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #cacaca;
    float: left;
    display: flex;
    align-items: center;
}

.siglEvent span{
    margin: 0 2px;
}

.siglEvent span, .tootipDescription span{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    background: #000;
    color: #fff;
    line-height: 24px;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
    text-align: center;
}
#listDates{
    max-height: 400px;
    overflow: auto;
    -webkit-box-shadow: 0px 13px 12px #ebebeb inset;
	   -moz-box-shadow: 0px 13px 12px #ebebeb inset; 
		    box-shadow: 0px 13px 12px #ebebeb inset;
     -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}

#listDates > li .clickCalendar{
    width: 100%;
    padding: 15px;
    display: table;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #cacaca;
}

#listDates > li .clickCalendar:hover{
    background: #eaeaea;
}
#listDates > li{
    position: relative;
}
#listDates > li .clickCalendar.active{
    background: #d13539;
}
.tootipDescription{
    width: 400px;
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    top: 5px;
    right: 10%;
    background: #fff;
    display: none;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.6);
   -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.6);
   -moz-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.6);
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}

.tootipDescription .fa-times-circle{
    position: absolute;
    right: 5px;
    top: 5px;
    color: #d13539;
    font-size: 25px;
    cursor: pointer;
}

.tootipDescription:after{
    content: "";
    display: inline-block;
    vertical-align: block;
    width: 0; 
    height: 0; 
    position: absolute;
    right: -10px;
    top: 28px;

  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
}

.tootipDescription.active{
    display: block;
}
.tootipDescription span, .tootipDescription div{
    float: left;
}
.tootipDescription div{
    width: 325px;
    margin-left: 10px;
}
.tootipDescription div h3{
    margin: 4px 0;
    font-size: 18px;
}
.tootipDescription div p{
    color: #333;
    font-size: 14px;
}
.tootipDescription li{
    margin: 15px 0;
    display: table;
}

.controlDate{
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
    color: #d13539;
}
.controlDate i{
    margin: 0 5px;
    color: #27a8ae;
    cursor: pointer;
}
.year{
    padding: 5px 10px;
    background: #d13539;
    color: #fff;
    display: table;
    top: -10px;
    left: 20px;
    position: relative;
    font-size: 18px;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}

/* Calendário */

#contentEnade{
    width: 100%;
    margin-top: 30px;
    display: table;
}
#contentEnade #textEnade{
    width: 100%;
    line-height: 21px;
}
#textEnade h3{
    font-size: 25px;
    margin-bottom: 10px;
}
#localEnade p{
    font-size: 18px;
}

@media (max-width: 1500px) {
    .carousel-indicators li, .carousel-indicators .active{
        width: 175px;
        height: auto;
        margin: 0;
        border: 0;
        border-radius: initial;
        text-indent: inherit;
        position: relative;
    }
    .carousel-indicators{
        width: 890px;
        left: 50%;
        margin-left: -445px;
    }
}

@media (max-width: 1235px) {
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 20px;
        font-size: 16px;
    }
    /*CARDS*/
    
    .tootipDescription{
        width: 80%;
    }
    .tootipDescription div{
        width: 87%;
    }
}

@media (max-width: 1200px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 25px;
        font-size: 20px;
    }
    /*CARDS*/
}

@media (max-width: 1100px){
    .carousel-indicators li, .carousel-indicators .active{
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
          /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    }
    .carousel-indicators li p{
        display: none;
    }
    .carousel-indicators{
        width: 100%;
        left: auto;
        margin-left: auto;
        bottom: 10px;
    }
    .carousel-indicators li .filter, .carousel-indicators li img{
        display: none;
      
    }
}

@media (max-width: 1000px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 33px;
        font-size: 27px;
    }
    /*CARDS*/
}

@media (max-width: 925px){
    /*CARDS*/
    
    .grid .grid-item .textInfoCards p{
        line-height: 22px;
        font-size: 18px;
    }
    .grid .grid-item.imageSimple .textInfoCards{
        bottom: auto;
        top: 0;
        background: #fff;
        
    }
    /*CARDS*/
    
    .areaHome{
        width: 100%;
        margin: 4% 0;
        float: none;
    }
}

@media (max-width: 768px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 29px;
        font-size: 28px;
    }
    /*CARDS*/
}

@media (max-width: 630px){
    /*CARDS*/
    .grid .grid-item .textInfoCards p{
        line-height: 4.3vw;
        font-size: 4vw;
    }
    /*CARDS*/
}

@media (max-width: 430px){
    .siglEvent{
        width: calc(83% - 20px);
    }
    .tootipDescription div{
        width: calc(87% - 10px);
    }
}