	
/** 
/* 08. =portfolio styles
/* =================================================================== */

#portfolio {
	background: #111417;
	padding-top: 120px;
	border-bottom: 1px solid #15191d;  
}

#portfolio .row.items {
	max-width: 1260px;
	margin-top: 24px;
}

/* media queries - portfolio */

@media only screen and (max-width:1300px) {
	#portfolio .row.items {
		width: 100%;
		padding: 0;
	}

	#portfolio .row.items .columns {
		padding: 0;
	}

}

/* portfolio content */
#portfolio-wrapper {
	margin-top: 36px;
}

#portfolio-wrapper:before,
#portfolio-wrapper:after {
	content: "";
	display: table;
}

#portfolio-wrapper:after {
	clear: both;
}

#portfolio-wrapper .bgrid {
	padding: 0;
}

.folio-item .item-wrap {
	background: #111417;
	overflow: hidden;
	position: relative;
}

.folio-item .item-wrap a {
	display: block;
	cursor: pointer;
	position: relative;
}

/* overlay */
.folio-item .item-wrap .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.folio-item .item-wrap .link-icon {
	display: block;
	height: 30px;
	width: 30px;
	margin-left: -15px;
	margin-top: -15px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	top: 50%;
	left: 50%;
}

.folio-item .item-wrap img {
	vertical-align: bottom;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.folio-item .portfolio-item-meta {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 20%;
	left: -100px;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.folio-item .portfolio-item-meta h5 {
	font: 14px/21px "raleway-bold", sans-serif;
	letter-spacing: 2px;
	color: white;
	margin: 0;
}

.folio-item .portfolio-item-meta p {
	font: 14px/18px "raleway-semibold", sans-serif;
	color: #8A8A8A;
	margin: 0;
}

/* on hover */
.folio-item:hover .overlay,
.folio-item:hover .link-icon,
.folio-item:hover .portfolio-item-meta {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}

.folio-item:hover .portfolio-item-meta {
	left: 0;
}

.folio-item:hover .item-wrap img {
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* media queries - .portfolio-item-meta */

@media only screen and (max-width:500px) {
	.folio-item .portfolio-item-meta {
		top: 16%;
	}

	.folio-item .portfolio-item-meta h5 {
		font: 13px/21px "raleway-bold", sans-serif;
		letter-spacing: 1px;
	}

	.folio-item .portfolio-item-meta p {
		font: 13px/18px "raleway-semibold", sans-serif;
	}

}

@media only screen and (max-width:400px) {
	.folio-item .portfolio-item-meta {
		top: 12%;
	}

	.folio-item .portfolio-item-meta h5 {
		font: 11px/18px "raleway-bold", sans-serif;
		letter-spacing: 1px;
	}

	.folio-item .portfolio-item-meta p {
		font: 11px/16px "raleway-semibold", sans-serif;
	}

}

/* Popup Modal 
/* ------------------------------------------------------------------ */
.popup-modal {
	max-width: 550px;
	background: #FFFFFF;
	position: relative;
	margin: 0 auto;  	
}

.popup-modal .media {
	position: relative;
}

.popup-modal img {
	vertical-align: bottom;
}

/* description */
.popup-modal .description-box {
	padding: 6px 36px 30px;
}

.popup-modal .description-box h4 {
	font: 15px/24px "raleway-heavy", sans-serif;
	color: #000000;
}

.popup-modal .description-box p {
	font: 14px/24px "merriweather-regular", serif;
	color: #A1A1A1;
	margin-bottom: 12px;
}

/* categories */
.popup-modal .categories {
	font: 11px/18px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	text-align: left;
	color: rgba(0, 0, 0, 0.5);
}

/* link box */
.popup-modal .link-box {
	width: 100%;
	overflow: hidden;
	background: #000000;
}

.popup-modal .link-box a {
	font: 12px/60px "raleway-heavy", sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	display: block;
	text-align: center;
	float: left;
	width: 50%;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.popup-modal .link-box a:first-child {
	border-right: 1px solid rgba(200, 200, 200, 0.1);
}

.popup-modal .link-box a:hover {
	background: #fdc501;
	color: #000000;
	border: none;
}

/* media queries - popup-modal */

@media only screen and (max-width:600px) {
	.popup-modal {
		width: auto;
		margin: 0 20px;
	}

}

/* transition effect for modal popup
/* ------------------------------------------------------------------ */

/* overlay at start */
.mfp-fade.mfp-bg {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: 0.8;
	zoom: 1;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* content animate in */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
