


.viewMore{
    width: 200px;
    padding: 10px 0;
    margin: 20px auto;
    font-size: 20px;
    display: table;
    text-align: center;
    color: #fff;
    background: #d83d22;
    text-decoration: none;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.viewMore:hover{
    color: #fff;
    text-decoration: none;
}

#categoryFiles{
    width: 100%;
    margin: 20px 0;
    display: table;
}
#categoryFiles select{
    width: 200px;
    float: right;
}



#category{
    margin-top: 20px;
}
#category input{
    display: inline;
    width: 300px;
}
#content .form-group{
    width: 300px;
    margin: 0 auto 15px auto;
    position: relative;
}
.resulteSearch li{
    padding: 20px 0;
    border-top: 2px solid #e3e3e3;
    text-align: right;
}
.resulteSearch li a{
    color: #333;
    display: block;
     margin-top: 15px;
    text-align: justify;
}
.resulteSearch li a:hover{
    text-decoration: none;
}
.resulteSearch li:hover .titleText{
    text-decoration: underline;
    color: #d83d22;
}
.resulteSearch li:hover a figure{
    border: 1px solid #d83d22;
}
.resulteSearch li span{
    padding: 1px 8px;
    color: #fff;
    background: #d83d22;
    /*para Firefox*/
    -moz-border-radius: 5px;
    /*para Safari y Chrome*/
    -webkit-border-radius: 5px;
    /* para Opera */
    border-radius: 5px;
}
.resulteSearch li a .titleText{
    width: calc(100% - 150px);
    margin-left: 20px;
    font-size: 25px;
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
}
.resulteSearch li a .titleText h3{
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}
.resulteSearch li a figure{
    width: 120px;
    height: 120px;
    display: inline-block;
    vertical-align: middle;
    /*para Firefox*/
    -moz-border-radius: 100%;
    /*para Safari y Chrome*/
    -webkit-border-radius: 100%;
    /* para Opera */
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    border: 1px solid #e3e3e3;
}
.resulteSearch li a figure i{
    font-size: 60px;
    line-height: 125px;
}
.resulteSearch li a img{
    width: 120px;
}

#content{
    margin-bottom: 30px;
}

@media (max-width: 925px){
    .resulteSearch li a figure{
        margin: 10px auto;
        display: block;
    }
    .resulteSearch li a .titleText{
        width: 100%;
        display: block;
        text-align: left;
    }
}

@media (max-width: 630px){
    .resulteSearch li a .titleText{
        font-size: 3vw;
        line-height: 3vw;
    }
    .resulteSearch li a .titleText{
        margin: 0;
    }
}